In [166]:
import pandas as pd
import os
import re
import numpy as np

In [2]:
data_path = './Raw/fssdata/'
files_list = os.listdir(data_path)

In [16]:
file = data_path+'005930.xlsx'

In [39]:
value_dict = {'총자산':'ifrs-full_Assets', '현금':'ifrs-full_CashAndCashEquivalents',
              '부채':'ifrs-full_Liabilities','지배자산':'ifrs-full_EquityAttributableToOwnersOfParent',
             '매출액':'ifrs-full_Revenue', '매출원가':'ifrs-full_CostOfSales', 
              '매출총이익':'ifrs-full_GrossProfit', '판관비':'dart_TotalSellingGeneralAdministrativeExpenses',
              '영업이익':'dart_OperatingIncomeLoss','계속영업이익':'ifrs-full_ProfitLossFromContinuingOperations',
              '당기순이익':'ifrs-full_ProfitLoss', '지배순이익':'ifrs-full_ProfitLossAttributableToOwnersOfParent',
             '영업활동현금흐름':'ifrs-full_CashFlowsFromUsedInOperatingActivities'}

In [111]:
value_sheet_dict = {'Data_bs': ['총자산','현금','부채','지배자산'],
                    'Data_is':['매출액','매출원가','매출총이익','판관비','영업이익',
                               '계속영업이익','당기순이익','지배순이익'],
                    'Data_cis':[],
                    'Data_cf':['영업활동현금흐름']}

In [21]:
sheet_list = ['Data_bs','Data_is','Data_cis','Data_cf']

In [137]:
sheet_name = sheet_list[0]
excel_temp = pd.read_excel(file, sheet_name=sheet_name,index_col=0)

columns = ['stock_code','period','report_name']+list(value_dict.keys())
df_temp_total = pd.DataFrame(columns=columns)

columns_new = []
p = re.compile('[0-9]+')
for i in excel_temp.columns:
    m = p.match(i)
    if not m == None:
        columns_new.append(m.group()) #group() : 매치된 문자열 반환
df_temp_total['period']=columns_new

for value_name in value_sheet_dict[sheet_name]:
    df_temp = excel_temp[excel_temp[excel_temp.columns[0]] == value_dict[value_name]]
    df_temp = df_temp[columns_new].T
    df_temp_list = df_temp.iloc[:,0].to_list()
    df_temp_total[value_name]=df_temp_list
    
df_temp_total['stock_code']='005930'

In [138]:
df_temp_total

,stock_code,period,report_name,총자산,현금,부채,지배자산,매출액,매출원가,매출총이익,판관비,영업이익,계속영업이익,당기순이익,지배순이익,영업활동현금흐름
0,005930,20201231,NaN,378235718000000,2.938258e+13,102287702000000,2.676703e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,005930,20200930,NaN,375788742000000,2.656610e+13,99652554000000,2.679421e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,005930,20200630,NaN,357959499000000,3.610961e+13,88151682000000,2.617454e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,005930,20200331,NaN,357457535000000,2.791668e+13,91069812000000,2.584818e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,005930,20191231,NaN,352564497000000,2.688600e+13,89684076000000,2.549155e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,005930,20190930,NaN,353385985000000,2.660499e+13,89943741000000,2.554034e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,005930,20190630,NaN,342940134000000,2.753193e+13,85193101000000,2.498927e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,005930,20190331,NaN,345067883000000,2.667604e+13,91852732000000,2.454998e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,005930,20181231,NaN,339357244000000,3.034050e+13,91604067000000,2.400690e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,005930,20180930,NaN,337195786000000,3.308809e+13,95092626000000,2.344764e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,005930,20180630,NaN,318688380000000,3.136222e+13,85563535000000,2.256714e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,005930,20180331,NaN,312473113000000,3.230375e+13,89213233000000,2.158845e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,005930,20171231,NaN,301752090000000,3.054513e+13,87260662000000,2.072134e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,005930,20170930,NaN,296578579000000,3.078823e+13,85887328000000,2.035044e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,005930,20170630,NaN,277589436000000,2.900709e+13,76883688000000,1.936545e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,005930,20170331,NaN,264217372000000,2.756294e+13,74399417000000,1.831196e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,005930,20161231,NaN,262174324000000,3.211144e+13,69211291000000,1.864243e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,005930,20160930,NaN,244471456000000,2.526757e+13,64935077000000,1.732697e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,005930,20160630,NaN,243960673000000,2.584076e+13,62118157000000,1.756384e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,005930,20160331,NaN,241239789000000,2.476976e+13,62913603000000,1.721301e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,005930,20151231,NaN,242179521000000,2.263674e+13,63119716000000,1.728768e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,005930,20150930,NaN,246567573000000,2.360838e+13,65838937000000,1.743949e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,005930,20150630,NaN,231690886000000,1.786526e+13,57754240000000,1.678086e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,005930,20150331,NaN,227250377000000,1.839588e+13,59631070000000,1.615959e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,005930,20141231,NaN,230422958000000,1.684077e+13,62334770000000,1.621817e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,005930,20140930,NaN,231746489000000,1.800406e+13,68278794000000,1.577172e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,005930,20140630,NaN,224723074000000,1.605757e+13,65209610000000,1.538188e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,005930,20140331,NaN,225292596000000,1.815028e+13,69730872000000,1.498813e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,005930,20131231,NaN,214075018000000,1.628478e+13,64059008000000,1.444426e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,005930,20130930,NaN,210812881000000,1.751476e+13,66374078000000,1.391989e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,005930,20130630,NaN,203761612000000,1.792452e+13,65382074000000,1.332465e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,005930,20130331,NaN,190842671000000,1.883816e+13,62037027000000,1.241369e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,005930,20121231,NaN,181071570000000,1.879146e+13,59591364000000,1.170941e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,005930,20120930,NaN,176727146000000,1.882353e+13,60188312000000,1.123042e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,005930,20120630,NaN,166300009000000,1.552196e+13,56035900000000,1.077895e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,005930,20120331,NaN,160156621000000,1.592354e+13,54649928000000,1.030971e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,005930,20111231,NaN,155800263000000,1.469176e+13,54486633000000,9.709038e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,005930,20110930,NaN,148165885000000,1.104843e+13,49501637000000,9.437207e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,005930,20110630,NaN,137969699000000,9.251994e+12,43361485000000,9.062891e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,005930,20110331,NaN,136532155000000,1.170915e+13,45033401000000,8.730275e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,005930,20101231,NaN,134308803000000,9.791419e+12,45131167000000,8.544156e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,005930,20100930,NaN,132229860000000,1.064562e+13,46671394000000,8.186166e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,005930,20100630,NaN,125676660000000,8.629948e+12,43980103000000,7.811321e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,005930,20100331,NaN,115095795000000,9.225243e+12,39856847000000,7.181770e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,005930,20091231,NaN,112179789000000,1.014993e+13,39134587000000,6.956505e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,005930,20090101,NaN,96778599000000,6.904366e+12,33318214000000,6.097493e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,005930,20081231,NaN,105300650000000,8.814638e+12,42376696000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,005930,20071231,NaN,93375136000000,5.831989e+12,37403228000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,005930,20061231,NaN,81366206000000,4.222027e+12,33426339000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,005930,20051231,NaN,74461798000000,4.082817e+12,32854387000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,005930,20041231,NaN,69004625000000,3.129614e+12,32604344000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,005930,20031231,NaN,68041741000000,4.125700e+12,37882029000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,005930,20021231,NaN,64954986000000,2.358631e+12,38633640000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,005930,20011231,NaN,52114878000000,1.966785e+12,31716359000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,005930,20001231,NaN,46421503465000,1.996364e+12,29636008066000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,005930,19991231,NaN,29178630368000,9.333493e+11,16003946089000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,005930,19981231,NaN,24104678550000,NaN,19016198237000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,005930,19971231,NaN,32035430295000,NaN,27385952254000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
# 기간동안의 값이므로, 년도 단위로 값을 가지게 수정.
sheet_name = sheet_list[1]
excel_temp = pd.read_excel(file, sheet_name=sheet_name,index_col=0)

columns = ['stock_code','period','report_name']+list(value_dict.keys())
df_temp_total = pd.DataFrame(columns=columns)

columns_new = []
p = re.compile('[0-9]+-[0-9]+')
for i in excel_temp.columns:
    m = p.match(i)
    if not m == None:
        columns_new.append(m.group()) #group() : 매치된 문자열 반환
df_temp_total['period']=columns_new

for value_name in value_sheet_dict[sheet_name]:
    df_temp = excel_temp[excel_temp[excel_temp.columns[0]] == value_dict[value_name]]
    df_temp = df_temp[columns_new].T
    df_temp_list = df_temp.iloc[:,0].to_list()
    df_temp_total[value_name]=df_temp_list
    
df_temp_total['stock_code']='005930'

In [143]:
columns_new[:5]

['20200701-20200930',
 '20200401-20200630',
 '20200101-20201231',
 '20200101-20200930',
 '20200101-20200630']

In [148]:
columns_new_start = [col.split('-')[0][:6] for col in columns_new]
columns_new_end = [col.split('-')[1][:6] for col in columns_new]

In [154]:
columns_new_end[0]

'202009'

In [164]:
col_start = columns_new_start[0]
col_end = columns_new_end[0]

In [158]:
def find_index(data, target):
    res = []
    lis = data
    while True:
        try:
            res.append(lis.index(target) + (res[-1]+1 if len(res)!=0 else 0))
            lis = data[res[-1]+1:]
        except:
            break     
    return res

In [160]:
col_start[:4]+'01'

'202001'

In [202]:
add_list = []
add_list1 = []
del_list = []

for i in range(len(columns_new_start)):
# range(2):

    col_start = columns_new_start[i]
    col_end = columns_new_end[i]

    if col_start[4:] == '01':
        add_list.append(np.NaN)
    else:
        try:
            end_target_index = find_index(columns_new_end, str(int(col_start)-1)) #이번 기간의 전 기간에서 끝나는 index
            start_target_index = find_index(columns_new_start, col_start[:4]+'01') #해당 연도의 1월부터 시작하는 index
            intersection = list(set(end_target_index) & set(start_target_index)) #교집합을 더하면 1월부터 col_end까지 계산가능
            # intersection이 없으면 error를 더하게 수정
            add_list.append(intersection)
#             print(intersection)
        except:
            add_list.append('Error')
            
        # 전해의 전체 값 중 필요 기간을 제외하고 빼기

    if col_end[4:] == '12':
        add_list1.append(np.NaN)
        del_list.append(np.NaN)
    else:
        try:
#             print(str(int(col_end[:4])-1)+'12')
            end_target_index_add = find_index (columns_new_end, str(int(col_end[:4])-1)+'12' )
            end_target_index_del = find_index (columns_new_end, str(int(col_end[:4])-1)+col_end[4:] )
            start_target_index = find_index(columns_new_start, str(int(col_end[:4])-1)+'01' )
            intersection_add = list(set(end_target_index_add) & set(start_target_index))
            intersection_del = list(set(end_target_index_del) & set(start_target_index))
            add_list1.append(intersection_add)
            del_list.append(intersection_del)
        except:
            add_list1.append('Error')
            del_list.append('Error')

In [203]:
print(len(add_list), len(add_list1), len(del_list))

86 86 86

In [204]:
dic = {'column':columns_new,'start':columns_new_start,'end':columns_new_end,'add1':add_list,'add2':add_list1,'del':del_list}

In [205]:
pd.DataFrame(dic).head(50)

               column   start     end  add1  add2   del
0   20200701-20200930  202007  202009   [4]   [8]   [9]
1   20200401-20200630  202004  202006   [5]   [8]  [10]
2   20200101-20201231  202001  202012   NaN   NaN   NaN
3   20200101-20200930  202001  202009   NaN   [8]   [9]
4   20200101-20200630  202001  202006   NaN   [8]  [10]
5   20200101-20200331  202001  202003   NaN   [8]  [11]
6   20190701-20190930  201907  201909  [10]  [14]  [15]
7   20190401-20190630  201904  201906  [11]  [14]  [16]
8   20190101-20191231  201901  201912   NaN   NaN   NaN
9   20190101-20190930  201901  201909   NaN  [14]  [15]
10  20190101-20190630  201901  201906   NaN  [14]  [16]
11  20190101-20190331  201901  201903   NaN  [14]  [17]
12  20180701-20180930  201807  201809  [16]  [20]  [21]
13  20180401-20180630  201804  201806  [17]  [20]  [22]
14  20180101-20181231  201801  201812   NaN   NaN   NaN
15  20180101-20180930  201801  201809   NaN  [20]  [21]
16  20180101-20180630  201801  201806   NaN  [20]  [22]
17  20180101-20180331  201801  201803   NaN  [20]  [23]
18  20170701-20170930  201707  201709  [22]  [26]  [27]
19  20170401-20170630  201704  201706  [23]  [26]  [28]
20  20170101-20171231  201701  201712   NaN   NaN   NaN
21  20170101-20170930  201701  201709   NaN  [26]  [27]
22  20170101-20170630  201701  201706   NaN  [26]  [28]
23  20170101-20170331  201701  201703   NaN  [26]  [29]
24  20160701-20160930  201607  201609  [28]  [32]  [33]
25  20160401-20160630  201604  201606  [29]  [32]  [34]
26  20160101-20161231  201601  201612   NaN   NaN   NaN
27  20160101-20160930  201601  201609   NaN  [32]  [33]
28  20160101-20160630  201601  201606   NaN  [32]  [34]
29  20160101-20160331  201601  201603   NaN  [32]  [35]
30  20150701-20150930  201507  201509  [34]  [38]  [39]
31  20150401-20150630  201504  201506  [35]  [38]  [40]
32  20150101-20151231  201501  201512   NaN   NaN   NaN
33  20150101-20150930  201501  201509   NaN  [38]  [39]
34  20150101-20150630  201501  201506   NaN  [38]  [40]
35  20150101-20150331  201501  201503   NaN  [38]  [41]
36  20140701-20140930  201407  201409  [40]  [44]  [45]
37  20140401-20140630  201404  201406  [41]  [44]  [46]
38  20140101-20141231  201401  201412   NaN   NaN   NaN
39  20140101-20140930  201401  201409   NaN  [44]  [45]
40  20140101-20140630  201401  201406   NaN  [44]  [46]
41  20140101-20140331  201401  201403   NaN  [44]  [47]
42  20130701-20130930  201307  201309  [46]  [50]  [51]
43  20130401-20130630  201304  201306  [47]  [50]  [52]
44  20130101-20131231  201301  201312   NaN   NaN   NaN
45  20130101-20130930  201301  201309   NaN  [50]  [51]
46  20130101-20130630  201301  201306   NaN  [50]  [52]
47  20130101-20130331  201301  201303   NaN  [50]  [53]
48  20120701-20120930  201207  201209  [52]  [58]  [59]
49  20120401-20120630  201204  201206  [53]  [58]  [60]

In [135]:
year0 = columns_new[0].split('-')[0][0:4]
month0 = columns_new[0].split('-')[0][4:6]
year1 = columns_new[0].split('-')[1][0:4]
month1 = columns_new[0].split('-')[1][4:6]

In [136]:
print(year0,month0,year1,month1)

2020 07 2020 09

In [129]:
df_temp_total

,stock_code,period,report_name,총자산,현금,부채,지배자산,매출액,매출원가,매출총이익,판관비,영업이익,계속영업이익,당기순이익,지배순이익,영업활동현금흐름
0,005930,20200701-20200930,NaN,NaN,NaN,NaN,NaN,6.696416e+13,39970476000000,26993684000000,14640446000000,12353238000000,9.360693e+12,9.360693e+12,9.266814e+12,NaN
1,005930,20200401-20200630,NaN,NaN,NaN,NaN,NaN,5.296614e+13,31906198000000,21059944000000,12913652000000,8146292000000,5.555083e+12,5.555083e+12,5.488964e+12,NaN
2,005930,20200101-20201231,NaN,NaN,NaN,NaN,NaN,2.368070e+14,144488296000000,92318692000000,56324816000000,35993876000000,2.640783e+13,2.640783e+13,2.609085e+13,NaN
3,005930,20200101-20200930,NaN,NaN,NaN,NaN,NaN,1.752555e+14,106683368000000,68572112000000,41625237000000,26946875000000,1.980070e+13,1.980070e+13,1.964538e+13,NaN
4,005930,20200101-20200630,NaN,NaN,NaN,NaN,NaN,1.082913e+14,66712892000000,41578428000000,26984791000000,14593637000000,1.044001e+13,1.044001e+13,1.037856e+13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,005930,20010101-20011231,NaN,NaN,NaN,NaN,NaN,NaN,32657190000000,13786578000000,9835150000000,3951428000000,NaN,3.370912e+12,NaN,NaN
82,005930,20000101-20001231,NaN,NaN,NaN,NaN,NaN,NaN,26939234909000,16588571490000,7528231871000,9060339619000,NaN,6.192090e+12,NaN,NaN
83,005930,19990101-19991231,NaN,NaN,NaN,NaN,NaN,NaN,21476416255000,10611298110000,5235347120000,5375950990000,NaN,3.185702e+12,NaN,NaN
84,005930,19980101-19981231,NaN,NaN,NaN,NaN,NaN,NaN,18320860405000,7451450876000,4585212327000,2866238549000,NaN,NaN,NaN,NaN
85,005930,19970101-19971231,NaN,NaN,NaN,NaN,NaN,NaN,16025740482000,6656275484000,4334254522000,2322020962000,NaN,NaN,NaN,NaN

In [113]:
excel_temp.columns`

Index(['[D310000] Income statement, by function of expense - Consolidated financial statements (Unit: KRW)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       '20200701-20200930', '20200401-20200630', '20200101-20201231',
       '20200101-20200930', '20200101-20200630', '20200101-20200331',
       '20190701-20190930', '20190401-20190630', '20190101-20191231',
       '20190101-20190930', '20190101-20190630', '20190101-20190331',
       '20180701-20180930', '20180401-20180630', '20180101-20181231',
       '20180101-20180930', '20180101-20180630', '20180101-20180331',
       '20170701-20170930', '20170401-20170630', '20170101-20171231',
       '20170101-20170930', '20170101-20170630', '20170101-20170331',
       '20160701-20160930', '20160401-20160630', '20160101-20161231',
       '20160101-20160930', '20160101-20160630', '20160101-20160331',
       '20150701-20150930', '20150401-20150630', '20150101-20151231',
       '20150101-20150930', '20150101-20150630', '20150101-20150331',
       '20140701-20140930', '20140401-20140630', '20140101-20141231',
       '20140101-20140930', '20140101-20140630', '20140101-20140331',
       '20130701-20130930', '20130401-20130630', '20130101-20131231',
       '20130101-20130930', '20130101-20130630', '20130101-20130331',
       '20120701-20120930', '20120401-20120630', '20120101-20121231',
       '20120101-20120930', '20120101-20120630', '20120101-20120331',
       '20110701-20110930', '20110601-20110930', '20110401-20110630',
       '20110301-20110630', '20110101-20111231', '20110101-20110930',
       '20110101-20110630', '20110101-20110331', '20100601-20100930',
       '20100301-20100630', '20100101-20101231', '20100101-20100930',
       '20100101-20100630', '20100101-20100331', '20090601-20090930',
       '20090301-20090630', '20090101-20091231', '20090101-20090930',
       '20090101-20090630', '20090101-20090331', '20080101-20081231',
       '20070101-20071231', '20060101-20061231', '20050101-20051231',
       '20040101-20041231', '20030101-20031231', '20020101-20021231',
       '20010101-20011231', '20000101-20001231', '19990101-19991231',
       '19980101-19981231', '19970101-19971231'],
      dtype='object')

In [125]:
p = re.compile('[0-9]+-[0-9]+')

In [126]:
columns_new = []
for i in excel_temp.columns:
    m = p.match(i)
    if not m == None:
        columns_new.append(m.group()) #group() : 매치된 문자열 반환

In [127]:
columns_new

['20200701-20200930',
 '20200401-20200630',
 '20200101-20201231',
 '20200101-20200930',
 '20200101-20200630',
 '20200101-20200331',
 '20190701-20190930',
 '20190401-20190630',
 '20190101-20191231',
 '20190101-20190930',
 '20190101-20190630',
 '20190101-20190331',
 '20180701-20180930',
 '20180401-20180630',
 '20180101-20181231',
 '20180101-20180930',
 '20180101-20180630',
 '20180101-20180331',
 '20170701-20170930',
 '20170401-20170630',
 '20170101-20171231',
 '20170101-20170930',
 '20170101-20170630',
 '20170101-20170331',
 '20160701-20160930',
 '20160401-20160630',
 '20160101-20161231',
 '20160101-20160930',
 '20160101-20160630',
 '20160101-20160331',
 '20150701-20150930',
 '20150401-20150630',
 '20150101-20151231',
 '20150101-20150930',
 '20150101-20150630',
 '20150101-20150331',
 '20140701-20140930',
 '20140401-20140630',
 '20140101-20141231',
 '20140101-20140930',
 '20140101-20140630',
 '20140101-20140331',
 '20130701-20130930',
 '20130401-20130630',
 '20130101-20131231',
 '20130101-20130930',
 '20130101-20130630',
 '20130101-20130331',
 '20120701-20120930',
 '20120401-20120630',
 '20120101-20121231',
 '20120101-20120930',
 '20120101-20120630',
 '20120101-20120331',
 '20110701-20110930',
 '20110601-20110930',
 '20110401-20110630',
 '20110301-20110630',
 '20110101-20111231',
 '20110101-20110930',
 '20110101-20110630',
 '20110101-20110331',
 '20100601-20100930',
 '20100301-20100630',
 '20100101-20101231',
 '20100101-20100930',
 '20100101-20100630',
 '20100101-20100331',
 '20090601-20090930',
 '20090301-20090630',
 '20090101-20091231',
 '20090101-20090930',
 '20090101-20090630',
 '20090101-20090331',
 '20080101-20081231',
 '20070101-20071231',
 '20060101-20061231',
 '20050101-20051231',
 '20040101-20041231',
 '20030101-20031231',
 '20020101-20021231',
 '20010101-20011231',
 '20000101-20001231',
 '19990101-19991231',
 '19980101-19981231',
 '19970101-19971231']

In [97]:
df_temp = df_temp[columns_new].T
df_temp_list = df_temp.iloc[:,0].to_list()

[378235718000000,
 375788742000000,
 357959499000000,
 357457535000000,
 352564497000000,
 353385985000000,
 342940134000000,
 345067883000000,
 339357244000000,
 337195786000000,
 318688380000000,
 312473113000000,
 301752090000000,
 296578579000000,
 277589436000000,
 264217372000000,
 262174324000000,
 244471456000000,
 243960673000000,
 241239789000000,
 242179521000000,
 246567573000000,
 231690886000000,
 227250377000000,
 230422958000000,
 231746489000000,
 224723074000000,
 225292596000000,
 214075018000000,
 210812881000000,
 203761612000000,
 190842671000000,
 181071570000000,
 176727146000000,
 166300009000000,
 160156621000000,
 155800263000000,
 148165885000000,
 137969699000000,
 136532155000000,
 134308803000000,
 132229860000000,
 125676660000000,
 115095795000000,
 112179789000000,
 96778599000000,
 105300650000000,
 93375136000000,
 81366206000000,
 74461798000000,
 69004625000000,
 68041741000000,
 64954986000000,
 52114878000000,
 46421503465000,
 29178630368000,
 24104678550000,
 32035430295000]

In [98]:
columns = ['stock_code','period','report_name']+list(value_dict.keys())
df_temp_total = pd.DataFrame(columns=columns)

In [99]:
df_temp_total['period']=columns_new
df_temp_total['총자산']=df_temp_list

In [101]:
df_temp_total['stock_code']='005930'

In [102]:
df_temp_total

,stock_code,period,report_name,총자산,현금,부채,지배자산,매출액,매출원가,매출총이익,판관비,영업이익,계속영업이익,당기순이익,지배순이익,영업활동현금흐름
0,005930,20201231,NaN,378235718000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,005930,20200930,NaN,375788742000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,005930,20200630,NaN,357959499000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,005930,20200331,NaN,357457535000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,005930,20191231,NaN,352564497000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,005930,20190930,NaN,353385985000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,005930,20190630,NaN,342940134000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,005930,20190331,NaN,345067883000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,005930,20181231,NaN,339357244000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,005930,20180930,NaN,337195786000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,005930,20180630,NaN,318688380000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,005930,20180331,NaN,312473113000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,005930,20171231,NaN,301752090000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,005930,20170930,NaN,296578579000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,005930,20170630,NaN,277589436000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,005930,20170331,NaN,264217372000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,005930,20161231,NaN,262174324000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,005930,20160930,NaN,244471456000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,005930,20160630,NaN,243960673000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,005930,20160331,NaN,241239789000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,005930,20151231,NaN,242179521000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,005930,20150930,NaN,246567573000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,005930,20150630,NaN,231690886000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,005930,20150331,NaN,227250377000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,005930,20141231,NaN,230422958000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,005930,20140930,NaN,231746489000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,005930,20140630,NaN,224723074000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,005930,20140331,NaN,225292596000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,005930,20131231,NaN,214075018000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,005930,20130930,NaN,210812881000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,005930,20130630,NaN,203761612000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,005930,20130331,NaN,190842671000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,005930,20121231,NaN,181071570000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,005930,20120930,NaN,176727146000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,005930,20120630,NaN,166300009000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,005930,20120331,NaN,160156621000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,005930,20111231,NaN,155800263000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,005930,20110930,NaN,148165885000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,005930,20110630,NaN,137969699000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,005930,20110331,NaN,136532155000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,005930,20101231,NaN,134308803000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,005930,20100930,NaN,132229860000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,005930,20100630,NaN,125676660000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,005930,20100331,NaN,115095795000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,005930,20091231,NaN,112179789000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,005930,20090101,NaN,96778599000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,005930,20081231,NaN,105300650000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,005930,20071231,NaN,93375136000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,005930,20061231,NaN,81366206000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,005930,20051231,NaN,74461798000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,005930,20041231,NaN,69004625000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,005930,20031231,NaN,68041741000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,005930,20021231,NaN,64954986000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,005930,20011231,NaN,52114878000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,005930,20001231,NaN,46421503465000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,005930,19991231,NaN,29178630368000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,005930,19981231,NaN,24104678550000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,005930,19971231,NaN,32035430295000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
excel_temp = pd.read_excel(file, sheet_name=sheet_list[0],index_col=0)
excel_temp

,"[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,20201231,20200930,...,20061231,20051231,20041231,20031231,20021231,20011231,20001231,19991231,19981231,19971231
NaN,concept_id,label_ko,label_en,class0,class1,class2,class3,class4,"('연결재무제표',)","('연결재무제표',)",...,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,ifrs-full_CurrentAssets,유동자산,Current assets,재무상태표 [abstract],자산 [abstract],유동자산,NaN,NaN,198215579000000,203634913000000,...,34988905000000,33399152000000,31991225000000,35555135000000,36164205000000,26870721000000,25796283509000,10492005553000,-9720154667000,-14875509639000
1.0,ifrs-full_CashAndCashEquivalents,현금및현금성자산,Cash and cash equivalents,재무상태표 [abstract],자산 [abstract],유동자산,현금및현금성자산,NaN,29382578000000,26566097000000,...,4222027000000,4082817000000,3129614000000,4125700000000,2358631000000,1966785000000,1996363691000,933349300000,NaN,NaN
2.0,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,Short-term financial instruments,재무상태표 [abstract],자산 [abstract],유동자산,단기금융상품,NaN,92441703000000,89694025000000,...,3504366000000,4061388000000,4978491000000,4969380000000,4513219000000,2180848000000,1911481737000,974487045000,NaN,NaN
3.0,entity00126380_udf_BS_201851017339116_CurrentA...,단기상각후원가금융자산,Short-term financial assets at amortized cost,재무상태표 [abstract],자산 [abstract],유동자산,단기상각후원가금융자산,NaN,2757111000000,1684068000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,ifrs-full_CurrentFinancialAssetsAtFairValueThr...,단기당기손익-공정가치금융자산,Short-term financial assets at fair value thro...,재무상태표 [abstract],자산 [abstract],유동자산,단기당기손익-공정가치금융자산,NaN,71451000000,596122000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,dart_ShortTermTradeReceivable,매출채권,Trade receivables,재무상태표 [abstract],자산 [abstract],유동자산,매출채권,NaN,30965058000000,40379873000000,...,9133647000000,7451467000000,6812457000000,6389933000000,5512375000000,3940666000000,3911504863000,3504572386000,3214221019000,4918676170000
6.0,entity00126380_udf_BS_201710182279121_CurrentA...,미수금,Non-trade receivables,재무상태표 [abstract],자산 [abstract],유동자산,미수금,NaN,3604539000000,3600224000000,...,987634000000,1118869000000,1171451000000,942556000000,829650000000,806798000000,940866029000,827723625000,1007554406000,1345662381000
7.0,entity00126380_udf_BS_2017101822109437_Current...,선급비용,Prepaid expenses,재무상태표 [abstract],자산 [abstract],유동자산,선급비용,NaN,2266100000000,2764979000000,...,1018602000000,840363000000,772629000000,829406000000,556182000000,486612000000,605993150000,252835593000,105817109000,204786214000
8.0,ifrs-full_Inventories,재고자산,Inventories,재무상태표 [abstract],자산 [abstract],유동자산,재고자산,NaN,32043145000000,32442857000000,...,6753445000000,5864889000000,5803646000000,4781205000000,4296907000000,3610732000000,4724876025000,3483092204000,-2818621765000,-4415843724000
9.0,dart_OtherCurrentAssets,기타유동자산,Other current assets,재무상태표 [abstract],자산 [abstract],유동자산,기타유동자산,NaN,3754462000000,3225556000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,entity00126380_udf_BS_20201022194537291_Curren...,매각예정분류자산,Assets held-for-sale,재무상태표 [abstract],자산 [abstract],유동자산,매각예정분류자산,NaN,929432000000,1132240000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,ifrs-full_NoncurrentAssets,비유동자산,Non-current assets,재무상태표 [abstract],자산 [abstract],비유동자산,NaN,NaN,180020139000000,172153829000000,...,46377301000000,41062646000000,37013400000000,32486606000000,28790781000000,25244157000000,20625219956000,18686624815000,-13989840167000,-16617853020000
12.0,entity00126380_udf_BS_20212913522856_Noncurren...,상각후원가금융자산,Financial assets at amortized cost,재무상태표 [abstract],자산 [abstract],비유동자산,상각후원가금융자산,NaN,0,401436000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,entity00126380_udf_BS_201851017830322_Noncurre...,기타포괄손익-공정가치금융자산,Financial assets at fair value through other c...,재무상태표 [abstract],자산 [abstract],비유동자산,기타포괄손익-공정가치금융자산,NaN,12575216000000,10744456000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,entity00126380_udf_BS_201851017832579_Noncurre...,당기손익-공정가치금융자산,Financial assets at fair value through profit ...,재무상태표 [abstract],자산 [abstract],비유동자산,당기손익-공정가치금융자산,NaN,1202969000000,1299256000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,entity00126380_udf_BS_20171018221637438_Noncur...,관계기업 및 공동기업 투자,Investment in associates and joint ventures,재무상태표 [abstract],자산 [abstract],비유동자산,관계기업 및 공동기업 투자,NaN,8076779000000,7982462000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.0,ifrs-full_PropertyPlantAndEquipment,유형자산,"Property, plant and equipment",재무상태표 [abstract],자산 [abstract],비유동자산,유형자산,NaN,128952892000000,124777408000000,...,33784615000000,29276161000000,23962396000000,19470332000000,16277269000000,15401352000000,14299531567000,11413547341000,-9298397639000,-9619367911000
17.0,ifrs-full_IntangibleAssetsOtherThanGoodwill,무형자산,Intangible assets,재무상태표 [abstract],자산 [abstract],비유동자산,무형자산,NaN,18468502000000,18980799000000,...,658385000000,632856000000,544522000000,465328000000,349162000000,291802000000,253353427000,321596575000,-177429936000,-200311214000
18.0,dart_DepositsForSeveranceInsurance,순확정급여자산,Net defined benefit assets,재무상태표 [abstract],자산 [abstract],비유동자산,순확정급여자산,NaN,1355502000000,8220000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,ifrs-full_DeferredTaxAssets,이연법인세자산,Deferred income tax assets,재무상태표 [abstract],자산 [abstract],비유동자산,이연법인세자산,NaN,4275000000000,4478036000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.0,dart_OtherNonCurrentAssets,기타비유동자산,Other non-current assets,재무상태표 [abstract],자산 [abstract],비유동자산,기타비유동자산,NaN,5113279000000,3883192000000,...,1631770000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.0,ifrs-full_Assets,자산총계,Total assets,재무상태표 [abstract],자산 [abstract],자산총계,NaN,NaN,378235718000000,375788742000000,...,81366206000000,74461798000000,69004625000000,68041741000000,64954986000000,52114878000000,46421503465000,29178630368000,24104678550000,32035430295000
22.0,ifrs-full_CurrentLiabilities,유동부채,Current liabilities,재무상태표 [abstract],부채 [abstract],유동부채,NaN,NaN,75604351000000,73046405000000,...,25522871000000,24908590000000,26107583000000,28020512000000,28351235000000,23561619000000,24862214143000,10645786938000,-9349147376000,-14643565437000
23.0,entity00126380_udf_BS_20171018222617796_Curren...,매입채무,Trade payables,재무상태표 [abstract],부채 [abstract],유동부채,매입채무,NaN,9739222000000,11688180000000,...,4578915000000,4206962000000,4189110000000,4150499000000,2912164000000,1969407000000,2339310735000,1960234907000,1799157708000,1946521308000
24.0,ifrs-full_ShorttermBorrowings,단기차입금,Short-term borrowings,재무상태표 [abstract],부채 [abstract],유동부채,단기차입금,NaN,16553429000000,15856252000000,...,7360778000000,7807865000000,7101220000000,7250955000000,10010589000000,9265975000000,10176352554000,2333709622000,2822818326000,7962179771000
25.0,entity00126380_udf_BS_20171018222642264_Curren...,미지급금,Other payables,재무상태표 [abstract],부채 [abstract],유동부채,미지급금,NaN,11899022000000,10187472000000,...,3631398000000,3352980000000,3443746000000,3851381000000,4436415000000,3622480000000,2633716264000,1897810384000,1235000270000,1565872538000
26.0,entity00126380_udf_BS_20171018222640707_Curren...,선수금,Advances received,재무상태표 [abstract],부채 [abstract],유동부채,선수금,NaN,1145423000000,1153605000000,...,518418000000,209855000000,263146000000,268754000000,239089000000,246738000000,324318235000,421926914000,134099531000,369943473000
27.0,entity00126380_udf_BS_20171018222637261_Curren...,예수금,Withholdings,재무상태표 [abstract],부채 [abstract],유동부채,예수금,NaN,974521000000,946591000000,...,298110000000,353517000000,583416000000,654024000000,647511000000,529946000000,493210865000,284437577000,129203036000,105469868000
28.0,entity00126380_udf_BS_20171018222635206_Curren...,미지급비용,Accrued expenses,재무상태표 [abstract],부채 [abstract],유동부채,미지급비용,NaN,24330339000000,21703839000000,...,5011755000000,4191577000000,3940213000000,3676140000000,3036475000000,2267531000000,1788654222000,996482625000,828677212000,1029281179000
29.0,ifrs-full_CurrentTaxLiabilities,당기법인세부채,Current income tax liabilities,재무상태표 [abstract],부채 [abstract],유동부채,당기법인세부채,NaN,4430272000000,4660113000000,...,1263088000000,896862000000,1550192000000,967539000000,1398908000000,408999000000,1098089307000,670409573000,93037066000,113446187000
30.0,entity00126380_udf_BS_20171024141934989_Curren...,유동성장기부채,Current portion of long-term liabilities,재무상태표 [abstract],부채 [abstract],유동부채,유동성장기부채,NaN,716099000000,754610000000,...,2772323000000,3788239000000,4957052000000,7093670000000,5562692000000,4951678000000,5571710236000,1687485986000,2206589039000,1484420361000
31.0,ifrs-full_CurrentProvisions,충당부채,Provisions,재무상태표 [abstract],부채 [abstract],유동부채,충당부채,NaN,4349563000000,4638290000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32.0,dart_OtherCurrentLiabilities,기타유동부채,Other current liabilities,재무상태표 [abstract],부채 [abstract],유동부채,기타유동부채,NaN,1127719000000,1056017000000,...,102683000000,117707000000,90085000000,115334000000,87704000000,38307000000,4723075000,NaN,NaN,NaN
33.0,entity00126380_udf_BS_20201022192755790_Curren...,매각예정분류부채,Liabilities held-for-sale,재무상태표 [abstract],부채 [abstract],유동부채,매각예정분류부채,NaN,338742000000,14646000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.0,ifrs-full_NoncurrentLiabilities,비유동부채,Non-current liabilities,재무상태표 [abstract],부채 [abstract],비유동부채,NaN,NaN,26683351000000,26606149000000,...,7903468000000,7945797000000,6496761000000,9861517000000,10282405000000,8154740000000,4773793923000,5358159151000,-9667050861000,-12742365060000
35.0,dart_BondsIssued,사채,Debentures,재무상태표 [abstract],부채 [abstract],비유동부채,사채,NaN,948137000000,997764000000,...,3731387000000,3960450000000,4863517000000,8320150000000,8601163000000,7238823000000,3409257215000,3501381419000,5997519658000,4387306679000
36.0,dart_LongTermBorrowingsGross,장기차입금,Long-term borrowings,재무상태표 [abstract],부채 [abstract],비유동부채,장기차입금,NaN,1999716000000,2017847000000,...,407011000000,744021000000,667224000000,805353000000,948691000000,405792000000,808470971000,1633050006000,3416063878000,7445107573000
37.0,dart_LongTermOtherPayablesGross,장기미지급금,Long-term other payables,재무상태표 [abstract],부채 [abstract],비유동부채,장기미지급금,NaN,1682910000000,1830595000000,...,728276000000,742101000000,220459000000,262198000000,273214000000,306210000000,333856534000,284785895000,279807131000,381567824000
38.0,dart_PostemploymentBenefitObligations,순확정급여부채,Net defined benefit liabilities,재무상태표 [abstract],부채 [abstract],비유동부채,순확정급여부채,NaN,464458000000,628175000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39.0,ifrs-full_DeferredTaxLiabilities,이연법인세부채,Deferred income tax liabilities,재무상태표 [abstract],부채 [abstract],비유동부채,이연법인세부채,NaN,18810845000000,18362110000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40.0,ifrs-full_NoncurrentProvisions,장기충당부채,Long-term provisions,재무상태표 [abstract],부채 [abstract],비유동부채,장기충당부채,NaN,1051428000000,813492000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41.0,dart_OtherNonCurrentLiabilities,기타비유동부채,Other non-current liabilities,재무상태표 [abstract],부채 [abstract],비유동부채,기타비유동부채,NaN,1725857000000,1956166000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42.0,ifrs-full_Liabilities,부채총계,Total liabilities,재무상태표 [abstract],부채 [abstract],부채총계,NaN,NaN,102287702000000,99652554000000,...,33426339000000,32854387000000,32604344000000,37882029000000,38633640000000,31716359000000,29636008066000,16003946089000,19016198237000,27385952254000
43.0,ifrs-full_EquityAttributableToOwnersOfParent,지배기업 소유주지분,Equity attributable to owners of the parent co...,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,NaN,NaN,267670331000000,267942140000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44.0,ifrs-full_IssuedCapital,자본금,Issued capital,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,자본금,NaN,897514000000,897514000000,...,897514000000,897514000000,897514000000,895241000000,889147000000,882117000000,881675130000,875542095000,-743335300000,-609817335000
45.0,dart_IssuedCapitalOfPreferredStock,우선주자본금,Preference shares,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,자본금,우선주자본금,119467000000,119467000000,...,119467000000,119467000000,119467000000,119467000000,119467000000,119467000000,119467135000,119467135000,119467135000,119467135000
46.0,dart_IssuedCapitalOfCommonStock,보통주자본금,Ordinary shares,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,자본금,보통주자본금,778047000000,778047000000,...,778047000000,778047000000,778047000000,775774000000,769680000000,762650000000,762207995000,756074960000,623868165000,490350200000
47.0,ifrs-full_SharePremium,주식발행초과금,Share premium,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,주식발행초과금,NaN,4403893000000,4403893000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48.0,ifrs-full_RetainedEarnings,이익잉여금(결손금),Retained earnings,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,이익잉여금(결손금),NaN,271068211000000,267024912000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49.0,dart_ElementsOfOtherStockholdersEquity,기타자본항목,Other components of equity,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,기타자본항목,NaN,-8687155000000,-4398825000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50.0,entity00126380_udf_BS_20201022192911508_Equity...,매각예정분류기타자본항목,Accumulated other comprehensive income attribu...,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,매각예정분류기타자본항목,NaN,-12132000000,14646000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51.0,ifrs-full_NoncontrollingInterests,비지배지분,Non-controlling interests,재무상태표 [abstract],자본 [abstract],비지배지분,NaN,NaN,8277685000000,8194048000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52.0,ifrs-full_Equity,자본총계,Total equity,재무상태표 [abstract],자본 [abstract],자본총계,NaN,NaN,275948016000000,276136188000000,...,47939867000000,41607411000000,36400281000000,30159712000000,26321346000000,20398519000000,16785495399000,13174684279000,NaN,NaN
53.0,ifrs-full_EquityAndLiabilities,부채와자본총계,Total liabilities and equity,재무상태표 [abstract],부채와자본총계,NaN,NaN,NaN,378235718000000,375788742000000,...,81366206000000,74461798000000,69004625000000,68041741000000,64954986000000,52114878000000,46421503465000,29178630368000,NaN,NaN

In [5]:
file

'./Raw/fssdata/000040.xlsx'