# 정리
1. 몇 가지 기준으로 대상이 될 종목들을 가져온다
    - 시가총액, 우선주 제외
2. change table에서 이 종목들의 가격정보를 가져온다

In [2]:
import pandas as pd

In [4]:
change = pd.read_csv('Raw_Price/change_all.csv',index_col=0)
change

,095570,006840,152100,295820,253150,253160,278420,292750,309170,309210,...,014590.1,021060.1,027840.1,024870.1,013200.1,024100.1,021960.1,016560.1,007800.1,013240.1
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-07,-0.026930,-0.030641,0.003784,0.007761,0.006973,-0.006519,0.007557,-0.001267,-0.002118,-0.008061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-08,0.011070,-0.015805,-0.002056,-0.004459,-0.004040,0.001312,0.004000,-0.002030,-0.006633,0.015480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-09,-0.031022,0.029197,-0.005608,-0.008143,-0.021535,0.019659,-0.008964,-0.009664,-0.020032,-0.022104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-10,0.007533,0.009929,-0.001611,-0.001232,0.006218,-0.002571,-0.002010,0.005650,0.001363,0.024552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-11,0.084112,-0.022472,0.005995,0.009453,0.014517,-0.011598,0.002014,0.007916,0.026674,-0.001902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
a = ''
change.loc[:,[a,a+'.1']].isnull().sum()

022520      5622
022520.1    5622
dtype: int64

In [9]:
for id in change.columns:
    if 'K' in id:
        print(id)

00104K
37550K
38380K
03473K
28513K
00806K
35320K
33626K
00499K
00680K
02826K
33637K
00279K
00781K
26490K
36328K
18064K
00088K