In [1]:
import pandas as pd
import os
import re
import numpy as np

In [2]:
data_path = './Raw/fssdata/'
files_list = os.listdir(data_path)

In [3]:
file = data_path+'005930.xlsx'

In [4]:
value_dict = {'총자산':'ifrs-full_Assets', '현금':'ifrs-full_CashAndCashEquivalents',
              '부채':'ifrs-full_Liabilities','지배자산':'ifrs-full_EquityAttributableToOwnersOfParent',
             '매출액':'ifrs-full_Revenue', '매출원가':'ifrs-full_CostOfSales', 
              '매출총이익':'ifrs-full_GrossProfit', '판관비':'dart_TotalSellingGeneralAdministrativeExpenses',
              '영업이익':'dart_OperatingIncomeLoss','계속영업이익':'ifrs-full_ProfitLossFromContinuingOperations',
              '당기순이익':'ifrs-full_ProfitLoss', '지배순이익':'ifrs-full_ProfitLossAttributableToOwnersOfParent',
             '영업활동현금흐름':'ifrs-full_CashFlowsFromUsedInOperatingActivities'}

In [5]:
value_sheet_dict = {'Data_bs': ['총자산','현금','부채','지배자산'],
                    'Data_is':['매출액','매출원가','매출총이익','판관비','영업이익',
                               '계속영업이익','당기순이익','지배순이익'],
                    'Data_cis':[],
                    'Data_cf':['영업활동현금흐름']}

In [6]:
sheet_list = ['Data_bs','Data_is','Data_cis','Data_cf']

In [146]:
# 재무상태표에서 추출
sheet_name = sheet_list[0]
excel_temp = pd.read_excel(file, sheet_name=sheet_name,index_col=0)

columns = ['stock_code','period','report_name']+list(value_dict.keys())
df_temp_total = pd.DataFrame(columns=columns)

columns_new = []
p = re.compile('[0-9]+')
for i in excel_temp.columns:
    m = p.match(i)
    if not m == None:
        columns_new.append(m.group()) #group() : 매치된 문자열 반환

for value_name in value_sheet_dict[sheet_name]:
    df_temp = excel_temp[excel_temp[excel_temp.columns[0]] == value_dict[value_name]]
    df_temp = df_temp[columns_new].T
    df_temp_list = df_temp.iloc[:,0].to_list()
    df_temp_total[value_name]=df_temp_list

columns_new_end = [column[0:6] for column in columns_new]
df_temp_total['period']=columns_new_end    
df_temp_total['stock_code']='005930'

In [148]:
# 손익계산서에서 추출
# 기간동안의 값이므로, 년도 단위로 값을 가지게 수정.
sheet_name = sheet_list[1]
excel_temp = pd.read_excel(file, sheet_name=sheet_name,index_col=0)

columns = ['stock_code','period','report_name']+list(value_dict.keys())
df_temp_total = pd.DataFrame(columns=columns)

columns_new = []
p = re.compile('[0-9]+-[0-9]+')
for i in excel_temp.columns:
    m = p.match(i)
    if not m == None:
        columns_new.append(m.group()) #group() : 매치된 문자열 반환

for value_name in value_sheet_dict[sheet_name]:
    df_temp = excel_temp[excel_temp[excel_temp.columns[0]] == value_dict[value_name]]
    df_temp = df_temp[columns_new].T
    
    df_temp = value_to_year(df_temp)
    
    df_temp_list = df_temp.iloc[:,0].to_list()
    df_temp_total[value_name]=df_temp_list

columns_new_end = [column[9:15] for column in columns_new]
df_temp_total['period']=columns_new_end
df_temp_total['stock_code']='005930'

# 중복되는 값은 제거해야함.동일한 period에서 각각 값을 가져와서 빈칸을 채운 뒤 삭제.

In [149]:
df_temp_total

,stock_code,period,report_name,총자산,현금,부채,지배자산,매출액,매출원가,매출총이익,판관비,영업이익,계속영업이익,당기순이익,지배순이익,영업활동현금흐름
0,005930,202009,NaN,NaN,NaN,NaN,NaN,2.351402e+14,1.452379e+14,8.990235e+13,5.579520e+13,3.410714e+13,2.502774e+13,2.502774e+13,2.487337e+13,NaN
1,005930,202006,NaN,NaN,NaN,NaN,NaN,2.301796e+14,1.452613e+14,8.491825e+13,5.538645e+13,2.953180e+13,2.195471e+13,2.195471e+13,2.171160e+13,NaN
2,005930,202012,NaN,NaN,NaN,NaN,NaN,2.368070e+14,1.444883e+14,9.231869e+13,5.632482e+13,3.599388e+13,2.640783e+13,2.640783e+13,2.609085e+13,NaN
3,005930,202009,NaN,NaN,NaN,NaN,NaN,2.351402e+14,1.452379e+14,8.990235e+13,5.579520e+13,3.410714e+13,2.502774e+13,2.502774e+13,2.487337e+13,NaN
4,005930,202006,NaN,NaN,NaN,NaN,NaN,2.301796e+14,1.452613e+14,8.491825e+13,5.538645e+13,2.953180e+13,2.195471e+13,2.195471e+13,2.171160e+13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,005930,200112,NaN,NaN,NaN,NaN,NaN,NaN,3.265719e+13,1.378658e+13,9.835150e+12,3.951428e+12,NaN,3.370912e+12,NaN,NaN
82,005930,200012,NaN,NaN,NaN,NaN,NaN,NaN,2.693923e+13,1.658857e+13,7.528232e+12,9.060340e+12,NaN,6.192090e+12,NaN,NaN
83,005930,199912,NaN,NaN,NaN,NaN,NaN,NaN,2.147642e+13,1.061130e+13,5.235347e+12,5.375951e+12,NaN,3.185702e+12,NaN,NaN
84,005930,199812,NaN,NaN,NaN,NaN,NaN,NaN,1.832086e+13,7.451451e+12,4.585212e+12,2.866239e+12,NaN,NaN,NaN,NaN
85,005930,199712,NaN,NaN,NaN,NaN,NaN,NaN,1.602574e+13,6.656275e+12,4.334255e+12,2.322021e+12,NaN,NaN,NaN,NaN

In [115]:
df_temp1 = df_temp.copy()

In [116]:
for i in range(len(df_temp1.index)):
    dur = df_temp1.index[i]
    
    add1, add2, del1 = df_test[df_test.column == dur].iloc[0,3:6]
    try:
        value0 = df_temp.loc[dur,df_temp.columns[0]]
        
        if np.isnan(add1):
            value1 = 0
        else:
            value1 = df_temp.iloc[int(add1), 0]

        if np.isnan(add2):
            value2 = 0
        else:
            value2 = df_temp.iloc[int(add2), 0]

        if np.isnan(del1):
            value3 = 0
        else:
            value3 = df_temp.iloc[int(del1), 0]

        value = value0 + value1 + value2 - value3
    except:
        value = np.NaN

    df_temp1.loc[dur,'value'] = value

df_temp1.index = df_test['end']

In [117]:
df_temp1

                  14.0         value
end
202009   9266814000000  2.487337e+13
202006   5488964000000  2.171160e+13
202012  26090846000000  2.609085e+13
202009  19645377000000  2.487337e+13
202006  10378563000000  2.171160e+13
...                ...           ...
200112             NaN           NaN
200012             NaN           NaN
199912             NaN           NaN
199812             NaN           NaN
199712             NaN           NaN

[86 rows x 2 columns]

In [85]:
# def find_value(dur):
add1, add2, del1 = df_test[df_test.column == dur].iloc[0,3:6]
# try:
if np.isnan(add1):
    value1 = 0
else:
    value1 = df_temp.iloc[int(add1), 0]

if np.isnan(add2):
    value2 = 0
else:
    value2 = df_temp.iloc[int(add2), 0]

if np.isnan(del1):
    value3 = 0
else:
    value3 = df_temp.iloc[int(del1), 0]

value = value1 + value2 - value3
# except:
#     value = 'Error'

In [134]:
value_to_year(df_temp)

               value
end
202009  2.487337e+13
202006  2.171160e+13
202012  2.609085e+13
202009  2.487337e+13
202006  2.171160e+13
...              ...
200112           NaN
200012           NaN
199912           NaN
199812           NaN
199712           NaN

[86 rows x 1 columns]

In [133]:
def value_to_year (value_df):
    
    period_df = period_to_year(value_df.index)
#     print(period_df)
    
    for i in range(len(value_df.index)):
        period = value_df.index[i]
#         print(period_df[period_df.period == period])
        add1, add2, del1 = period_df[period_df.period == period].iloc[0,3:6]
        try:
            value0 = value_df.loc[period,value_df.columns[0]]

            if np.isnan(add1):
                value1 = 0
            else:
                value1 = value_df.iloc[int(add1), 0]

            if np.isnan(add2):
                value2 = 0
            else:
                value2 = value_df.iloc[int(add2), 0]

            if np.isnan(del1):
                value3 = 0
            else:
                value3 = value_df.iloc[int(del1), 0]

            value = value0 + value1 + value2 - value3
        except:
            value = np.NaN

        value_df.loc[period,'value'] = value

    value_df.index = period_df['end']
    value_df = value_df.loc[:,['value']]
    
    return value_df

In [12]:
def find_index(data, target):
    res = []
    lis = data
    while True:
        try:
            res.append(lis.index(target) + (res[-1]+1 if len(res)!=0 else 0))
            lis = data[res[-1]+1:]
        except:
            break     
    return res

In [111]:
def period_to_year (periods):
    # 기간을 시작지점과 끝지점으로 분리
    periods_start = [period.split('-')[0][:6] for period in periods]
    periods_end = [period.split('-')[1][:6] for period in periods]
    
    add_list1 = []
    add_list2 = []
    del_list1 = []
    
    for i in range(len(periods)):
        period_start = periods_start[i]
        period_end = periods_end[i]

        if period_start[4:] == '01':
            add_list1.append(np.NaN)
        else:
            try:
                end_target_index = find_index(periods_end, str(int(period_start)-1)) #이번 기간의 전 기간에서 끝나는 index
                start_target_index = find_index(periods_start, period_start[:4]+'01') #해당 연도의 1월부터 시작하는 index
                intersection = list(set(end_target_index) & set(start_target_index)) #교집합을 더하면 1월부터 col_end까지 계산가능
                add_list1.append(int(intersection[0]))
            except:
                add_list1.append('Error')

        if period_end[4:] == '12':
            add_list2.append(np.NaN)
            del_list1.append(np.NaN)
        else:
            try:
                end_target_index_add = find_index (periods_end, str(int(period_end[:4])-1)+'12' )
                start_target_index = find_index(periods_start, str(int(period_end[:4])-1)+'01' )
                intersection_add = list(set(end_target_index_add) & set(start_target_index))
                add_list2.append(int(intersection_add[0]))      
            except:
                add_list2.append('Error')

            try:
                end_target_index_del = find_index (periods_end, str(int(period_end[:4])-1)+period_end[4:] )
                start_target_index = find_index(periods_start, str(int(period_end[:4])-1)+'01' )
                intersection_del = list(set(end_target_index_del) & set(start_target_index))
                del_list1.append(int(intersection_del[0]))
            except:
                del_list1.append('Error')
    
#     print(len(add_list1), len(add_list2), len(del_list1))
    dic = {'period':periods,'start':periods_start,'end':periods_end,'add1':add_list1,'add2':add_list2,'del':del_list1}
    
    return pd.DataFrame(dic)